{% extends "master.html" %}

{% block content %}
<form action="{% url 'encuestas:vota' pregunta.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend>
        <h1>{{ pregunta.texto_pregunta }}</h1>
    </legend>
    {% if error_message %}<p><strong>{{ error_message }}
    </strong></p>{% endif %}
    {% for eleccion in pregunta.choice_set.all %}
        <input type="radio" name="eleccion" id="eleccion{{ forloop.counter }}" 
            value="{{ eleccion.id }}"></iput>
        <label for="eleccion{{ forloop.counter }}">{{eleccion.eleccion_texto}}</label><br>
        {% endfor %}
</fieldset>
<input type="submit" value="voto">
{% endblock %}