{% extends "master.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'encuestas/style.css' %}">

{% block title %}Encuestas - main{% endblock %}
 {% block content %}
<h1>Listado de encuestas</h1>
    {% if lista_preguntas %}
        <div class="list-group">
        {% for pregunta in lista_preguntas %}
            <a href="{% url 'encuestas:detalle' pregunta.id %}"
            class="list-group-item list-group-item-action">{{ pregunta.pregunta_texto }}</a>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay encuestas disponibles.</p>
    {% endif %}

{% endblock %}