
body {
  background-color: #057c8f;
  color: #ffffff;
}

.container {
  text-align: center;
  margin-top: 50px;
}
.btn {
  color: #ffffff;
  margin: 20px;
  }
  .btn:hover {
    background-color: #001aff;
    color: #000000;
  }
  #back{
    margin-top: 40px;
  }
  li a {
    color: green;
}
