
body {
  background-color: #282929e5;
  color: #fcfcfc;
}
.content{
  max-width: 500px;
  margin: auto;
}
.container {
  text-align: center;
  margin-top: 50px;
}
.btn {
  color: #ffffff;
  }
  .btn:hover {
    background-color: #026161;
    color: #000000;
  }
#back{
  margin-top: 40px;
  text-align: left;
}
h1{
  margin: 20px;
  text-align: center;
}
footer{
  border-top-style: solid;
  border-top-width: 1px;
}
